body {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 color: black;
 margin:0 4em;
}

h1.title, h2.subtitle, div.author, div.copyright, .releaseinfo, .copyright {
 color:#8ABD3F;
}
h1.title {
 border: 2px solid #8ABD3F;
 border-radius:0.5em;
 -webkit-border-radius:0.5em;
 -moz-border-radius:0.5em;
 padding:0.5em;
 font-size:400%;
 margin-top:120px;
}
h2.subtitle {
 position:absolute;
 top:2em;
 margin-left:1em;
}

.corpauthor {
 position:absolute;
 top:20px;
 right:6em;
}

div.author, div.copyright, .releaseinfo, .copyright {
 font-size:80%;
 margin:0 2em;
 text-align:left;
 font-weight:normal;
}
div.author {
 float:right;
}
h3.author {
 margin:0;
 font-weight:normal;
}
.author .affiliation {
 display:none;
}

p.releaseinfo {
 font-size:150%;
 font-weight:bold;
 margin:0 1em;
}

p.releaseinfo:before {
 content:'Version ';
}
code.email {
 font-family:inherit;
}
code.email a {
 color:inherit;
 text-decoration:none;
}
.abstract {
 margin-top:3em;
}


img#header-logo {
 position: absolute;
}

.navheader table tbody tr:first-child {
 height: 60px;
}

.figure .title {
 color:#8ABD3F;
 font-size:90%;
 margin-top:2em;
}
.figure .title b {
 font-weight:normal;
}

.figure {
 text-align: center;
 padding-bottom:0.5em;
}

.figure .figure-contents, p.remark {
 border: 1px solid #8ABD3F;
 border-radius:1em;
 -webkit-border-radius:1em;
 -moz-border-radius:1em;
 padding:1em;
 text-align: left;
}

.section table {
 border-collapse: collapse;
 margin-top:2em;
 background-color: #F8F8F8;
 border-top:1px solid #8ABD3F;
 border-bottom:1px solid #8ABD3F;
}

.section table tr.odd {
 background-color: #white;
}

.section table th {
 text-align: left;
}

.section table th, .section table td {
 padding: 0.2em 0.5em;
}

.section table caption {
 text-align: left;
 color:#8ABD3F;
 margin-top:0.5em;
 font-size:90%;
}

.title {
	text-align:left;
	margin-top:1.5em;
}

div.titlepage {
 text-align: center;
}

div.abstract {
 text-align: left;
}

h2.title {
 font-size:120%;
 margin-top:2em;
}
h3 {
 font-size:110%;
}

p.remark:before {
 content: 'Remark: ';
 color:#8ABD3F;
}

a {
 color: #1487B4;
}

a:visited {
 color: #004D6B;
}

a img {
 border: none;
}
