table {
 width: 100%;
 border-collapse: collapse;
}

.TableCaption {
 text-align: left;
 background: #CCCCFF;
 font-weight: bold;
 padding: 0.5em 1em;
 border-top: thin solid black;
 border-left: thin solid black;
 border-right: thin solid black;
}

th, td {
 padding: 0.5em 1em;
 border: thin solid black;
}

.TableHeader {
 font-size: smaller;
 text-align: center;
 font-weight: bold;
}

table.menu {
 width: auto;
 padding: 0.3em 0.8em;
 background-color: #EEEEFF;
 border-collapse: separate;
}

table.menu th.selected, table.menu a {
 font-weight: bold;
}

table.menu th {
 padding: 0.1em;
 background-color: transparent;
 border: none;
}

table.menu th.selected {
 background: #00008B;
 color: white;
}

.footer {
 font-style: italic;
 font-size: smaller;
 color: gray;
}